<!DOCTYPE html>
<html lang="en">
    <% include ./include/head %>
    <body>

        <div class="container">
            <div class="row">
              <% include ./include/header %>
            </div>
            
            <div class="prize-content">
                <div class="doorprize-content-header"><%= data.title %></div>
                <div class="prize-content-body">
                  <div class="doorprize-column">
                    <div class="doorprize-cell">
                        <div class="doorprize-cell-details-big doorprize-cell-details">
                          0015
                        </div>
                        </div>
                    <div class="doorprize-cell">
                        <div class="doorprize-cell-details-small">
                      Nama Toko Test 1<br />
                      Nama Pemilik 1<br />
                      Cabang 1
                      </div>
                    </div> 
                  </div>
                  <div class="doorprize-column">
                      <div class="doorprize-cell">
                          <div class="doorprize-cell-details-big">
                        0011
                          </div>
                      </div>
                      <div class="doorprize-cell">
                        <div class="doorprize-cell-details-small">
                        Nama Toko Test 2<br />
                        Nama Pemilik 2<br />
                        Cabang 2
                      </div>
                      </div> 
                    </div>
                    <div class="doorprize-column">
                        <div class="doorprize-cell">
                            <div class="doorprize-cell-details-big">
                          0041
                            </div>
                        </div>
                        <div class="doorprize-cell">
                          <div class="doorprize-cell-details-small">
                          Nama Toko Test 3<br />
                          Nama Pemilik 3<br />
                          Cabang 3
                        </div>
                        </div> 
                      </div>
                      <div class="doorprize-column">
                          <div class="doorprize-cell">
                              <div class="doorprize-cell-details-big">
                            0341
                              </div>
                          </div>
                          <div class="doorprize-cell">
                            <div class="doorprize-cell-details-small">
                            Nama Toko Test 4<br />
                            Nama Pemilik 4<br />
                            Cabang 4
                          </div>
                          </div> 
                        </div> 
                </div>
            </div>
          </div>
        <% include ./include/scripts %>
        <% include ./include/footer %>
    </body>
</html>