<!DOCTYPE html>
<html lang="en">
    <% include ./include/header %>
    <body>
        <div class="container">
            <div class="row">
                <h1>Guest List</h1>
            </div>
            <hr>
            <div class="row">
                <p style="height:300px;">Error.</p>
            </div>
        </div>

        <% include ./include/scripts %>
        <% include ./include/footer %>
    </body>
</html>