<!DOCTYPE html>
<html lang="en">
    <% include ./include/head %>
    <body>

        <div class="container">
            <div class="row">
              <% include ./include/header %>
            </div>
            
            <div class="content">
                <div class="scan-content-header">SCAN QR CODE ANDA UNTUK REGISTRASI<br />DAN DOORPRIZE</div>
                <div class="scan-content-body">
                  <img src="/images/qrcode.png" height="210" width="210" />
                  <br />
                  SCAN CODE
                </div>
            </div>
          </div>
        <% include ./include/scripts %>
        <% include ./include/footer %>
    </body>
</html>